div.header {
  background-color: rgb(37, 93, 143);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-family: "Gugi", sans-serif;
  
  & a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}